[tool.poetry]
name = "pynotion"
version = "0.1.0"
description = ""
authors = ["Vetrichelvan <pythonhub.py@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.10"
setuptools = "^65.3.0"
requests = "^2.28.1"
pydantic = "^1.10.1"
python-dotenv = "^0.21.0"
pylint-quotes = "^0.2.3"
pylint = "^2.15.0"
pytest-cov = "^3.0.0"
pytest = "^7.1.3"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
