[tool.poetry]
name = "pynotionclient"
version = "0.0.3"
description = "Python wrapper for Notion API"
authors = ["Vetrichelvan <pythonhub.py@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["notion", "api", "wrapper"]
packages = [{ include = "pynotionclient", from = "src" }]
repository = "https://github.com/pythonhubpy/PyNotion"
homepage = "https://github.com/pythonhubpy/PyNotion"
classifiers = [
        "License :: OSI Approved :: MIT License",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.10",
        "Operating System :: OS Independent",
        ]

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.1"
pydantic = "^1.10.1"
python-dotenv = "^0.21.0"
pylint-quotes = "^0.2.3"
pylint = "^2.15.0"
pytest-cov = "^3.0.0"
pytest = "^7.1.3"
cleo = "^0.8.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/pythonhubpy/PyNotion/issues"
